/* media queries */
/* tablet styles below */
@media screen and (max-width:786px) {

    nav {
        flex-direction: column;
    }
}


/* mobile styles below */
@media screen and (max-width:490px) {

    nav,
    .menu-items,
    .section4 {
        flex-direction: column;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-content {
        padding: 50px;
    }

    .txt-1 {
        font-size: 35px;
    }

    .txt-2 {
        font-size: 70px;
    }

    .hero-content button {
        border: 0;
        padding: 10px 20px;
        margin-right: 15px;
    }


    .hero-img img {
        width: 100%;
    }

    .section2 {
        flex-direction: column;
        justify-content: center;
    }

    .section2 img {
        width: 100%;
    }

    .section2-content {
        width: 100vw;
        text-align: center;
    }

    .section2-content h3 {
        font-size: 25px;
    }

    .section2 p {
        font-size: 12px;
        width: 250px;
        margin: 0 auto;
        padding: 25px 0;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .section4-content {
        padding: 0;
    }

    .section4-img .img1 {
        width: 80%
    }

    .section4-img .img2 {
        width: 45%;
        position: relative;
        top: 240px;
        left: auto;

    }

    .roundedboxes {
        padding: 10px;
    }
}